.DS_Store
UserInterface.xcuserstate
bin/Release/Debug/Mandatory2
Mandatory2.build/Debug/ALL_BUILD.build/ALL_BUILD.dep
Mandatory2.build/Debug/ALL_BUILD.build/Script-7FFBEA63107E4CB4B8758A5F.sh
Mandatory2.build/Debug/ALL_BUILD.build/build-state.dat
Mandatory2.build/Debug/Mandatory2.build/Mandatory2.dep
Mandatory2.build/Debug/Mandatory2.build/Mandatory2~.dep
Mandatory2.build/Debug/Mandatory2.build/Objects-normal/x86_64/Mandatory2.LinkFileList
Mandatory2.build/Debug/Mandatory2.build/Objects-normal/x86_64/main.d
Mandatory2.build/Debug/Mandatory2.build/Objects-normal/x86_64/main.dia
Mandatory2.build/Debug/Mandatory2.build/Objects-normal/x86_64/main.o
Mandatory2.build/Debug/Mandatory2.build/Script-1E11F7B48C894F51B587C666.sh
Mandatory2.build/Debug/Mandatory2.build/build-state.dat
Mandatory2.build/Debug/Mandatory2.build/build-state~.dat
Mandatory2.build/Debug/ZERO_CHECK.build/Script-961E6733AF6D4A8482B652E1.sh
Mandatory2.build/Debug/ZERO_CHECK.build/ZERO_CHECK.dep
Mandatory2.build/Debug/ZERO_CHECK.build/ZERO_CHECK~.dep
Mandatory2.build/Debug/ZERO_CHECK.build/build-state.dat
Mandatory2.build/Debug/ZERO_CHECK.build/build-state~.dat
Mandatory2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Mandatory2.xcodeproj/project.xcworkspace/xcuserdata/tamen.xcuserdatad/UserInterfaceState.xcuserstate
Mandatory2.xcodeproj/project.xcworkspace/xcuserdata/tamen.xcuserdatad/WorkspaceSettings.xcsettings
Mandatory2.xcodeproj/xcuserdata/tamen.xcuserdatad/xcschemes/ALL_BUILD.xcscheme
Mandatory2.xcodeproj/xcuserdata/tamen.xcuserdatad/xcschemes/Mandatory2.xcscheme
Mandatory2.xcodeproj/xcuserdata/tamen.xcuserdatad/xcschemes/ZERO_CHECK.xcscheme
Mandatory2.xcodeproj/xcuserdata/tamen.xcuserdatad/xcschemes/xcschememanagement.plist